h2 {
  text-transform: capitalize;
  color: red;
}

@font-face {
  font-family: exo;
  src: url(./Exo_2/Exo2-VariableFont_wght.ttf);
}
.exo {
  font-family: "exo", "serif";
}

@font-face {
  font-family: libre;
  src: url(./Libre_Baskerville/LibreBaskerville-Regular.ttf);
}
.libre {
  font-family: "libre", "serif";
}

@font-face {
  font-family: merriwatther;
  src: url(./Merriweather/Merriweather-Regular.ttf);
}
.merriwatther {
  font-family: "merriwatther", "serif";
}
@font-face {
  font-family: Noto;
  src: url(./Noto_Serif_Balinese/NotoSerifBalinese-Regular.ttf);
}
.Noto {
  font-family: "Noto", "serif";
}
@font-face {
    font-family: playfair;
    src: url(./playfair-Display/PlayfairDisplay-VariableFont_wght.ttf);
  }
  .playfair {
    font-family: "playfair", "serif";
  }
@font-face {
  font-family: pt;
  src: url(./pt-serif/PTSerif-Regular.ttf);
}
.pt {
  font-family: "pt", "serif";
}
@font-face {
  font-family: raleway;
  src: url(./Raleway/Raleway-VariableFont_wght.ttf);
}
.raleway {
  font-family: "raleway", "serif";
}
@font-face {
  font-family: smooch;
src: url(./Smooch_Sans/SmoochSans-VariableFont_wght.ttf);}
.smooch {
  font-family: "smooch", "serif";
}
@font-face {
  font-family: space;
  src: url(Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}
.space {
  font-family: "space", "serif";
}
@font-face {
  font-family: teko;
src: url(./Teko/Teko-VariableFont_wght.ttf);}
.teko {
  font-family: "teko", "serif";
}
@font-face {
  font-family: Vina;
src: url(./Vina_Sans/VinaSans-Regular.ttf);}
.Vina {
  font-family: "Vina", "serif";
}

img{width: 10%;}
@media screen and (max-width: 1024px) {
  img{width: 60%;}
}